nav {
  background: var(--light);
  position: fixed;
  width: 100%;
  z-index: 3;
  .nav-item a {
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 115%;
    text-transform: capitalize;
    color: var(--dark);
    min-width: fit-content;
    transform: scaleX(0.95);

    &:hover {
      color: var(--accent);
      font-weight: 700;
      display: inline-block;
      position: relative;
      transform-origin: bottom;
      transition: transform 0.25s ease-out;
      border-bottom: 2px solid var(--accent);
    }
  }
}
