.calendar-container {
  box-sizing: border-box;
  padding: 24px;
  gap: 16px;
}
.calendar-card {
  border-radius: 10px;
  padding: 24px;
  background-color: var(--purple-10);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%237A23D366' stroke-width='2' stroke-dasharray='24' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

.check-availability {
  color: var(--purple-100);
}
.quote-text,
.quote-author {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.quote-author {
  font-style: italic;
}

.mat-mdc-card {
  background-color: transparent;
  border-color: none;
  box-shadow: none;
}

.date-time-header {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.date-time-frame {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 16px;
  @media (max-width: 576.98px) {
    grid-template-columns: repeat(2, 1fr);
  }

  input[type='radio'] + label.date-time-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 12px;
    width: auto;
    height: 44px;
    border-radius: 24px;
    background-color: var(--purple-10);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    .text {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
  }

  input[type='radio'] {
    display: none;
  }

  input[type='radio']:checked + label.date-time-item {
    background-color: var(--purple-100);
    color: var(--white-100);
  }
}

.check {
  display: none;
}
