.cff-v2-why-cff-section {
  margin-bottom: 56.5px;
  margin-top: 53px;
  @media (max-width: 992.98px) {
    margin-bottom: 21px;
  }
}
.cff-v2-why-cff-section-title-text {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 44px;

  @media (max-width: 992.98px) {
    text-align: center;
    font-size: 36px;
  }
}

.cff-v2-why-cff-section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(var(--dark), 0.85);
  margin-bottom: 44px;
  max-width: 668px;
}
