section {
  margin-bottom: 49px;
  filter: drop-shadow(0px 6px 16px rgba(10, 55, 139, 0.12));

  .cover {
    background: linear-gradient(
        89.95deg,
        rgba(var(--light-rgb), 0.855) 0.04%,
        rgba(var(--light-rgb), 0.855) 20.33%,
        rgba(var(--light-rgb), 0.855) 50.5%,
        rgba(var(--light-rgb), 0.855) 89.02%
      ),
      url(/assets/images/bg/how-clutter-works.jpg) no-repeat top/100%;
    padding: 40px 64px;
    border-radius: 30px;
    @media (max-width: 575.98px) {
      padding: 30px 24px;
    }
  }

  .wc-how-it-works-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    max-width: 745px;
    @media (max-width: 575.98px) {
      font-size: 32px;
      line-height: 38px;
      text-align: left;
    }
  }

  .wc-how-it-works-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 518px;
    margin-bottom: 24px;
    @media (max-width: 575.98px) {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
    }
  }

  .secondary-btn {
    background-color: var(--light);
  }
}
