.sticky {
  position: sticky !important;
  top: 0;
  z-index: 2;
}
.table_scrollHead .sticky {
  background-color: var(--light);
}
.table_scrollHead {
  position: relative;
  overflow: hidden;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.05);
  background: rgba(var(--purple-rgb), 0.07);
  scroll-behavior: smooth;
  table {
    th {
      background-color: transparent;
      text-align: center;
    }
    .form-check-label {
      color: var(--accent);
      text-align: start;
    }

    thead tr th:nth-child(1) {
      text-align: left;
    }

    thead > tr > th {
      border-color: inherit;
      border-style: solid;
      border-right-width: 1px;
    }
    thead tr:first-child {
      th {
        font-size: 18px;
        @media (max-width: 575.98px) {
          font-size: 14px;
        }
      }
    }
    thead tr:nth-child(2) {
      th:first-child {
        font-size: 12px !important;
        font-weight: lighter !important;
      }
    }
    thead tr:nth-child(3) {
      th:first-child {
        font-size: 12px !important;
        font-weight: lighter !important;
      }
    }
    .form-switch .form-check-input:focus {
      --bs-form-switch-bg: url(../../../../../assets/icons/ellipse.svg);
    }
    .form-check-input {
      background-color: var(--light);
      &:checked,
      &:focus {
        background-color: rgba(var(--purple-rgb), 0.5);
        border-color: transparent;
        box-shadow: none;
      }
    }
    .form-switch .form-check-input {
      width: 3em;
      padding: 0.5rem;
    }
    .btn {
      outline: none;
      border: none;
      border-radius: 0.5rem;
      background-color: rgba(26, 111, 238, 1);
      color: #ffffff;
      font-weight: 500;
      font-style: normal;
      font-size: 14px;
      @media (max-width: 575.98px) {
        font-size: 12px;
      }
      &:hover {
        background-color: #000000;
        color: #ffffff;
      }
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  table th:nth-child(1) {
    min-width: 200px !important;
    @media (min-width: 575.98px) {
      width: 28% !important;
    }
  }
  table th:nth-child(2) {
    min-width: 150px;
    @media (min-width: 575.98px) {
      width: 14.4%;
    }
  }
  table th:nth-child(3) {
    min-width: 150px;
    @media (min-width: 575.98px) {
      width: 14.4%;
    }
  }
  table th:nth-child(4) {
    min-width: 150px;
    @media (min-width: 575.98px) {
      width: 14.4%;
    }
  }
  table th:nth-child(5) {
    min-width: 150px;
    @media (min-width: 575.98px) {
      width: 14.4%;
    }
  }
  table th:nth-child(6) {
    min-width: 150px;
    @media (min-width: 575.98px) {
      width: 14.4%;
    }
  }
}
.table_scrollBody {
  table {
    td {
      text-align: center;
    }
    thead tr {
      visibility: hidden;
      border-bottom-color: transparent;
    }

    tbody tr:first-child {
      border-top-color: transparent;
    }
  }
  thead th:nth-child(1) {
    min-width: 200px;
    @media (min-width: 575.98px) {
      width: 28%;
    }
  }
  thead th:nth-child(2) {
    min-width: 150px;
    @media (min-width: 575.98px) {
      width: 14.4%;
    }
  }
  thead th:nth-child(3) {
    min-width: 150px;
    @media (min-width: 575.98px) {
      width: 14.4%;
    }
  }
  thead th:nth-child(4) {
    min-width: 150px;
    @media (min-width: 575.98px) {
      width: 14.4%;
    }
  }
  thead th:nth-child(5) {
    min-width: 150px;
    @media (min-width: 575.98px) {
      width: 14.4%;
    }
  }
  thead th:nth-child(6) {
    min-width: 150px;
    @media (min-width: 575.98px) {
      width: 14.4%;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .table-hover tbody tr:hover td,
  .table-hover tbody tr:hover th {
    background-color: rgba(var(--purple-rgb), 0.05);
  }
}

.gold-badge {
  content: url(../../../../../assets/icons/plans/elegant.svg);
}

.blue-badge {
  content: url(../../../../../assets/icons/plans/zen.svg);
}

.green-badge {
  content: url(../../../../../assets/icons/plans/stylish.svg);
}

.grey-badge {
  content: url(../../../../../assets/icons/plans/cleanse.svg);
}

.any-badge {
  content: url(../../../../../assets/icons/plans/any-badge.svg);
}
.checkmark {
  content: url(../../../../../assets/icons/check.svg);
}
a {
  text-decoration: none !important;
}
