<div id="sticky-banner" tabindex="-1"
    class="fixed top-0 start-0 z-50 flex justify-between w-full p-4 border-b border-primary-300 bg-primary-900">
    <div class="flex items-center mx-auto">
        <p class="flex items-center text-sm font-normal text-light-900 ">
            <span
                class="inline-flex p-1 me-3 bg-light-100 rounded-full w-6 h-6 items-center justify-center flex-shrink-0">
                <svg class="w-6 h-6 text-light-600 dark:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 .917 11.923A1 1 0 0 1 17.92 21H6.08a1 1 0 0 1-.997-1.077L6 8h12Z" />
                </svg>
                <span class="sr-only">shopping bag</span>
            </span>
            <span class="font-extrabold">Welcome to Clutter Free Finds! <span class="inline font-medium ">Get
                    your everyday solutions to an organized space.</span></span>
        </p>
    </div>
</div>