<main role="main" class="d-flex flex-column container mx-auto">
    <div class="row d-flex align-items-center" style="row-gap: 24px;">
        <div class="col-12 col-md-6">
            <div class="coming-soon-header title-gradient">We are creating <span class="fs-5">something</span> amazing
                for
                you💜
                <br>
                <span class="coming-soon-helper-text title-gradient fs-6">All Good Things Come to Those who
                    Wait...
                    James
                    5:7-11
                </span>

            </div>
        </div>
        <div class="d-none d-md-block col-12 col-md-6">
            <img loading="lazy" class="img-fluid" src="/assets/images/coming-soon.png" alt="">
        </div>
    </div>

    <div class="row my-5  mx-auto">
        <div class="col">
            <a target="_blank" [href]="CFF_SOCIAL_ACCOUNTS.FACEBOOK"><img loading="lazy"
                    src="assets/icons/social/facebook-purple.svg" alt="" width="24" height="24" /></a>
        </div>
        <div class="col">
            <a target="_blank" [href]="CFF_SOCIAL_ACCOUNTS.INSTAGRAM"><img loading="lazy"
                    src="assets/icons/social/instagram-purple.svg" alt="" width="24" height="24" /></a>
        </div>
        <div class="col">
            <a target="_blank" [href]="CFF_SOCIAL_ACCOUNTS.TIKTOK"><img loading="lazy"
                    src="assets/icons/social/tiktok-purple.svg" alt="" width="24" height="24" /></a>
        </div>
    </div>