.cff-v2-our-community-section {
  margin-bottom: 56.5px;
  margin-top: 21px;
  @media (max-width: 992.98px) {
    margin-bottom: 21px;
  }
}
.cff-v2-our-community-section-title-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 25px;
  max-width: 531px;

  @media (max-width: 992.98px) {
    text-align: center;
    font-size: 36px;
  }
}

.cff-v2-our-community-section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: rgba(var(--dark), 0.8);
  margin-bottom: 69px;
  max-width: 496px;
}
