/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@font-face {
  font-family: 'Didot';
  src: url(assets/fonts/Didot-HTF-M24-Medium.woff2);
}
@font-face {
  font-family: 'Didot Italic';
  src: url(assets/fonts/Didot-Italic.ttf);
}
:root {
  --grey: #f2f5f7;
  --grey-dark: #88939b;
  --primary: #a695b3;
  --light: #ffffff;
  --light-rgb: 255, 255, 255;
  --dark: #0e1c36;
  --dark-rgb: 14, 28, 54;
  --accent: #ae83da;
  --accent-rgb: 174, 131, 218;
  --didot: 'Didot', 'Open Sans', 'Helvetica Neue', sans-serif;
  --didot-italic: 'Didot Italic', 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
  font-family: var(--didot);
  color: var(--dark);
}
a {
  text-decoration: none;
}
.img-fluid {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: top center;
}
.link-btn {
  display: flex;
  outline: 0;
  border: 0;
  cursor: pointer;
  a,
  span {
    color: var(--accent);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
  }
}
.primary-btn {
  display: flex !important;
  width: max-content;
  min-width: 175px;
  padding: 12px 4px !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px !important;
  background-color: var(--accent) !important;
  cursor: pointer;
  a {
    color: var(--light);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
  }

  &:hover {
    background-color: var(--dark) !important;
  }
  @media (max-width: 575.98px) {
    margin-bottom: 12px;
  }
}
.title-gradient {
  font-weight: 600;
  font-size: 64px;
  background: linear-gradient(
    90.52deg,
    var(--primary) 25.3%,
    var(--accent) 66.74%
  );
  text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
  @media (max-width: 992.98px) {
    font-size: 36px;
    text-align: center;
  }
}
