<section class="w-100 bg-pattern d-flex align-items-center justify-content-center">
    <div class="row sa-hero-container">
        <div class="sa-hero-title">
            {{ 'SERVICE_AGREEMENT_PAGE.HERO_SECTION.TITLE' | translate }}
        </div>
        <div class="sa-hero-description">
            {{ 'SERVICE_AGREEMENT_PAGE.HERO_SECTION.DESCRIPTION1' | translate }}
        </div>
        <div class="sa-hero-description">
            {{ 'SERVICE_AGREEMENT_PAGE.HERO_SECTION.DESCRIPTION2' | translate }}
        </div>
        <div class="sa-hero-description">
            {{ 'SERVICE_AGREEMENT_PAGE.HERO_SECTION.DESCRIPTION3' | translate }}
        </div>
    </div>
</section>