<section style="margin-bottom: 40px;">
    <div class="row position-relative justify-content-center">
        <div class="about-our-mision-title-hollow ">Our Mision</div>
        <div class="position-absolute title-content d-flex flex-column align-items-center" style="column-gap: 24px;">
            <div class=" about-our-mision-title">Our Mision</div>
            <img src="assets/images/mision.png" alt="" class="img-fluid" width="721">
        </div>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div class="about-our-mision-venn justify-content-center d-flex">
            <div class="about-our-mision-venn-left-circle d-flex align-items-center justify-content-center">
                <div class="text">
                    Empower individuals and businesses to declutter,
                    organize, and reclaim control
                    of their spaces
                </div>
            </div>
            <div class="about-our-mision-venn-right-circle  d-flex align-items-center justify-content-center">
                <div class="text">
                    Fosters a sense of calm, enhances productivity, and
                    contributes to a more
                    fulfilling life
                </div>
            </div>
        </div>
    </div>
    <div class=" row d-flex align-items-center">
        <div class="col-12 col-lg-7 d-flex align-items-start" style="column-gap: 20px;">
            <div class="col-1 about-our-mision-divider d-flex justify-content-end"></div>
            <div>
                <div class="about-our-mision-content-title">Our goals</div>
                <div class="about-our-mision-content-description">Our mission centers around empowering
                    individuals and
                    families to create calm, organized spaces that enhance their productivity and well-being
                    through
                    organized environments that are havens of peace and fostering a judgment-free approach that
                    prioritizes clarity and client needs.</div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="d-none d-md-block col-lg-3 ">
            <img src="/assets/images/our-mision.png" alt="" width="300">
        </div>
    </div>
</section>