<div class="relative flex justify-center mb-4 lg:mb-12">
    <div class="text-hollow text-nowrap	 bg-gradient-to-r from-primary-900 to-prmary-600 ">Our Mision</div>
    <div class="absolute top-1/2 flex flex-col items-center">
        <div class="text-primary-900  text-center font-medium text-2xl lg:text-5xl">Our Mision</div>
        <img loading="lazy" src="assets/images/mision.png" alt="our organizing Mision">
        <div class="font-medium text-dark-900 text-sm md:text-lg">1 Corithians 14:40 "Let everything be done decently
            and in an orderly manner"
        </div>
    </div>
</div>
<div class="flex justify-center mb-2">
    <div
        class="-mr-2 p-4 h-44 w-44 border border-primary-300 bg-gradient-to-t from-primary-300 to-prmary-600 rounded-full flex items-center justify-center">
        <div class="text-center font-medium text-dark-900 text-xs leading-5 mr-2">
            Empower individuals and businesses to declutter,
            organize, and reclaim control
            of their spaces
        </div>
    </div>
    <div
        class="-ml-2 p-4 h-44 w-44 border border-primary-600 bg-gradient-to-r from-primary-300 to-prmary-600 rounded-full flex items-center justify-center">
        <div class="text-center font-medium text-dark-900 text-xs leading-5 ml-2 ">
            Fosters a sense of calm, enhances productivity, and
            contributes to a more
            fulfilling life
        </div>
    </div>
</div>
<div class="flex items-center">
    <div class="w-full lg:w-7/12 flex items-start gap-x-4">
        <div class="bg-primary-900 w-2.5 h-60"></div>
        <div>
            <div class="text-dark-900 font-semibold 2xl lg:text-4xl mb-4 lg:mb-6">Our goals</div>
            <div class="font-medium text-dark-900 text-sm md:text-lg">Our mission centers around empowering
                individuals and
                families to create calm, organized spaces that enhance their productivity and well-being
                through
                organized environments that are havens of peace and fostering a judgment-free approach that
                prioritizes clarity and client needs.</div>
        </div>
    </div>
    <div class="hidden md:block w-full lg:w-5/12">
        <img loading="lazy" src="assets/images/our-mision.png" class="w-80 ml-auto" alt="home organizing vision">
    </div>
</div>