.client-details-form {
  label {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--dark);
  }
  input,
  select {
    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #828d9e;
    }
  }
}
