<div class="form-heading">3. Service address</div>
<div class="client-details-form">
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <label for="clienQuoteEmail">E-mail address</label>
            <input type="email" class="form-control" id="clienQuoteEmail" placeholder="example@gmail.com">
            <div class="invalid-feedback">
                Enter a valid email
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label for="clienFirstName">First name</label>
            <input type="text" class="form-control" id="clienFirstName" placeholder="First name">
            <div class="valid-feedback">
                error
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label for="clienLastName">Last name</label>
            <input type="text" class="form-control" id="clienLastName" placeholder="Last name">
            <div class="valid-feedback">
                error
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label for="clientPhoneNumber">Phone Numbere</label>
            <input type="text" class="form-control" id="clientPhoneNumber" placeholder="+254 06 34 73 99">
            <div class="invalid-feedback">
                error
            </div>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label for="clientQuoteCounty">City / County</label>
            <select class="form-select" aria-label="Default select example">
                <option selected disabled>County</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-12 col-md-3 mb-3">
            <label for="clientQuoteNeighbourhood">Neighborhood</label>
            <select class="form-select" aria-label="Default select example">
                <option selected disabled>Neighborhood</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label for="clientQuoteAddress">Address</label>
            <input type="text" class="form-control" id="clientQuoteAddress" placeholder="House number, & street name">
            <div class="valid-feedback">
                error!
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label for="clientQuoteHseNumber">House Number</label>
            <input type="text" class="form-control" id="clientQuoteHseNumber"
                placeholder="Apartment, suite, unit, Hse. etc.">
            <div class="invalid-feedback">
                error
            </div>
        </div>
    </div>
</div>
<div class="form-heading">4. Service Method</div>
<div class="row service-type">
    <div class="col-6">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="servicyTypeHome" checked>
            <label class="form-check-label" for="servicyTypeHome">
                Home Service
            </label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="servicyTypeOnline">
            <label class="form-check-label" for="servicyTypeOnline">
                Online service
            </label>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="form-check consent mb-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            I agree to the <a href="/privacy-policy">Privacy Policy</a> and <a href="/service-agreement">Service
                Agreement</a>
        </label>
    </div>
    <button class="btn primary-btn w-100">Validate Quote</button>
</div>