<div class="client-details-form">
    <div class="form-heading">3. Service address</div>
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <label for="clienQuoteEmail">E-mail address *</label>
            <input type="email" class="form-control" id="clienQuoteEmail" placeholder="example@gmail.com"
                [value]="clienQuoteEmail$ | async" (change)="onInputEvent($event,'email')"
                [ngModel]="clienQuoteEmail$ | async" #email="ngModel" required [pattern]="REGEX_EMAIL">
            <div [class.d-flex]="email.invalid && (email.dirty || email.touched) && email.value"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-red-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/red-close.svg" alt="" width="10">
                </div>
                <div class="error" *ngIf="email.errors?.['required']"> Enter your email address</div>
                <div class="error" *ngIf="email.errors?.['pattern']"> Enter a valid email address</div>
            </div>
            <div [class.d-flex]="email.valid && (email.dirty || email.touched) && email.value"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-green-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/check-green.svg" width="10" />
                </div>
                <div class="error"> Looks good!</div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="clienFirstName">First name *</label>
            <input type="text" class="form-control" id="clienFirstName" placeholder="First name"
                [value]="clientQuoteFirstName$ | async" (change)="onInputEvent($event,'fname')"
                [ngModel]="clientQuoteFirstName$ | async" #fname="ngModel" required minlength="2" maxlength="25">
            <div [class.d-flex]="fname.invalid && (fname.dirty || fname.touched) && fname.value"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-red-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/red-close.svg" alt="" width="10">
                </div>
                <div class="error" *ngIf="fname.errors?.['required']"> Enter your First Name</div>
                <div class="error" *ngIf="fname.errors?.['minlength']"> First Name is too short</div>
            </div>
            <div [class.d-flex]="fname.valid && (fname.dirty || fname.touched) && fname.value"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-green-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/check-green.svg" width="10" />
                </div>
                <div class="error"> Looks good!</div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="clienLastName">Last name</label>
            <input type="text" class="form-control" id="clienLastName" placeholder="Last name"
                [value]="clienQuoteLastName$ | async" (change)="onInputEvent($event, 'lname')"
                [ngModel]="clienQuoteLastName$ | async" #lname="ngModel" required minlength="2" maxlength="25">
            <div [class.d-flex]="lname.invalid && (lname.dirty || lname.touched) && lname.value"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-red-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/red-close.svg" alt="" width="10">
                </div>
                <div class="error" *ngIf="lname.errors?.['required']"> Enter your Last Name</div>
                <div class="error" *ngIf="lname.errors?.['minlength']"> Last Name is too short</div>
            </div>
            <div [class.d-flex]="lname.valid && (lname.dirty || lname.touched) && lname.value"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-green-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/check-green.svg" width="10" />
                </div>
                <div class="error"> Looks good!</div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="clientPhoneNumber">Phone Number *</label>
            <input type="tel" class="form-control" id="clientPhoneNumber" placeholder="+254 06 34 73 99"
                [value]="clientQuotePhoneNumber$ | async" (change)="onInputEvent($event,'phone')"
                [ngModel]="clientQuotePhoneNumber$ | async" #phoneNo="ngModel" required minlength="8" maxlength="25"
                [pattern]="PHONE_REGEX">
            <div [class.d-flex]="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched) && phoneNo.value"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-red-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/red-close.svg" alt="" width="10">
                </div>
                <div class="flex flex-wrap">
                    <div class="error" *ngIf="phoneNo.errors?.['required']"> Enter your Phone Number</div>
                    <div class="error" *ngIf="phoneNo.errors?.['minlength']"> Phone Number is too short</div>
                    <div class="error" *ngIf="phoneNo.errors?.['pattern']"> Phone Number is invalid</div>
                </div>
            </div>
            <div [class.d-flex]="phoneNo.valid && (phoneNo.dirty || phoneNo.touched) && phoneNo.value"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-green-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/check-green.svg" width="10" />
                </div>
                <div class="error"> Looks good!</div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="clientQuoteCounty">City / County *</label>
            <select (mousedown)="fetchCountiesData()" id="clientQuoteCounty" class="form-select"
                (change)="onCountySelect($event)" [ngModel]="(selected_county$ | async)?.countyCode"
                #countySelect="ngModel" required>
                <option selected disabled>County</option>
                <option [selected]="(selected_county$ | async)?.countyCode === county.countyCode"
                    [value]="county.countyCode" *ngFor="let county of ( counties$ | async | sort:'asc':'name')">
                    {{county.name}}</option>
            </select>
            <div [class.d-flex]="!countySelect.value && (countySelect.dirty || countySelect.touched)"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-red-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/red-close.svg" alt="" width="10">
                </div>
                <div class="error"> Please select your City / County</div>
            </div>
            <div [class.d-flex]="countySelect.value && (countySelect.dirty || countySelect.touched)"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-green-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/check-green.svg" width="10" />
                </div>
                <div class="error"> Looks good!</div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="clientQuoteConstituency">Constituency *</label>
            <select [disabled]="(selected_county$ | async)?.name === ''" class="form-select"
                (change)="onConstituencyChange($event)" [ngModel]="(selected_constituency$ | async)?.name"
                #constituencySelect="ngModel" required>
                <option selected disabled>Constituency</option>
                <option [selected]="(selected_constituency$ | async)?.name === constituency.name"
                    [value]="constituency.name"
                    *ngFor="let constituency of (selected_county$ | async)?.constituencies | sort:'asc':'name'">
                    {{constituency.name}}
                </option>
            </select>
            <div [class.d-flex]="!constituencySelect.value &&( (constituencySelect.dirty || constituencySelect.touched) || (countySelect.dirty || countySelect.touched))"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-red-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/red-close.svg" alt="" width="10">
                </div>
                <div class="error"> Please select your Constituency</div>
            </div>
            <div [class.d-flex]="constituencySelect.value && (constituencySelect.dirty || constituencySelect.touched)"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-green-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/check-green.svg" width="10" />
                </div>
                <div class="error"> Looks good!</div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="clientQuoteNeighbourhood">Neighborhood *</label>
            <select [disabled]="(selected_constituency$ | async)?.name === '' " class="form-select"
                (change)="onWardChange($event)" [ngModel]="selected_ward$ | async" #wardSelect="ngModel" required>
                <option selected disabled>Neighborhood</option>
                <option [selected]="(selected_ward$ | async) === ward" [value]="ward"
                    *ngFor="let ward of (selected_constituency$ | async)?.wards | sort:'asc'">
                    {{ward}}
                </option>
            </select>
            <div [class.d-flex]="!wardSelect.value && ((wardSelect.dirty || wardSelect.touched) || (constituencySelect.dirty || constituencySelect.touched))"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-red-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/red-close.svg" alt="" width="10">
                </div>
                <div class="error"> Please select a Neighbourhood</div>
            </div>
            <div [class.d-flex]="wardSelect.value && (wardSelect.dirty || wardSelect.touched)"
                class="col-12 gap-1 align-items-center feedback mt-1">
                <div class="circle-check-green-30"> <img loading="lazy" alt="clutter free finds services"
                        src="/assets/icons/check-green.svg" width="10" />
                </div>
                <div class="error"> Looks good!</div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="clientQuoteAddress">Address</label>
            <input type="text" class="form-control" id="clientQuoteAddress" placeholder="Apartment, street name"
                [value]="clientQuoteAddress$ | async" (change)="onInputEvent($event,'address')">
            <div class="valid-feedback">
                error!
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="clientQuoteHseNumber">Apartment | Hse No.</label>
            <input type="text" class="form-control" id="clientQuoteHseNumber"
                placeholder="Apartment, House Number, suite, unit, Hse. etc." [value]="clientQuoteHseNumber$ | async"
                (change)="onInputEvent($event,'hseNumber')">
            <div class="invalid-feedback">
                error
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-heading">4. Service method</div>
    <div class="row service-type">
        <div class="col-6 col-lg-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="servicyTypeHome"
                    [checked]="(clientQuoteServiceType$ | async) === 'home'" value="home"
                    (change)="onInputEvent($event,'servicyType')">
                <label class="form-check-label" for="servicyTypeHome">
                    Home Service
                </label>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="servicyTypeOnline"
                    [checked]="(clientQuoteServiceType$ | async) === 'online'" value="online"
                    (change)="onInputEvent($event,'servicyType')">
                <label class="form-check-label" for="servicyTypeOnline">
                    Online service
                </label>
            </div>
        </div>
    </div>
</div>