<div class="client-details-form">
    <div class="grid gap-x-3 gap-y-2 mb-6 md:grid-cols-3">
        <div class="">
            <label for="clienQuoteEmail">E-mail address *</label>
            <input type="email"
                class="bg-light-900 border border-dark-300 text-dark-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                id="clienQuoteEmail" placeholder="example@gmail.com" [value]="clienQuoteEmail$ | async"
                (change)="onInputEvent($event,'email')" [ngModel]="clienQuoteEmail$ | async" #email="ngModel" required
                [pattern]="REGEX_EMAIL">
            <div [class.hidden]="!(email.invalid && (email.dirty || email.touched) && email.value)"
                class="w-full gap-1 items-center mt-1 flex flex-col">
                <div class="mt-2 text-sm text-danger-600" *ngIf="email.errors?.['required']"> Enter your email address
                </div>
                <div class="mt-2 text-sm text-danger-600" *ngIf="email.errors?.['pattern']"> Enter a valid email address
                </div>
            </div>
        </div>
        <div class="">
            <label for="clienFirstName">First name *</label>
            <input type="text"
                class="bg-light-900 border border-dark-300 text-dark-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                id="clienFirstName" placeholder="First name" [value]="clientQuoteFirstName$ | async"
                (change)="onInputEvent($event,'fname')" [ngModel]="clientQuoteFirstName$ | async" #fname="ngModel"
                required minlength="2" maxlength="25">
            <div [class.hidden]="!(fname.invalid && (fname.dirty || fname.touched) && fname.value)"
                class="w-full gap-1 items-center mt-1 flex flex-col">
                <div class="mt-2 text-sm text-danger-600" *ngIf="fname.errors?.['required']"> Enter your First Name
                </div>
                <div class="mt-2 text-sm text-danger-600" *ngIf="fname.errors?.['minlength']"> First Name is too short
                </div>
            </div>
        </div>
        <div class="">
            <label for="clienLastName">Last name</label>
            <input type="text"
                class="bg-light-900 border border-dark-300 text-dark-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                id="clienLastName" placeholder="Last name" [value]="clienQuoteLastName$ | async"
                (change)="onInputEvent($event, 'lname')" [ngModel]="clienQuoteLastName$ | async" #lname="ngModel"
                required minlength="2" maxlength="25">
            <div [class.hidden]="!(lname.invalid && (lname.dirty || lname.touched) && lname.value)"
                class="flex w-full gap-1 items-center mt-1 flex-col">
                <div class="mt-2 text-sm text-danger-600" *ngIf="lname.errors?.['required']"> Enter your Last Name</div>
                <div class="mt-2 text-sm text-danger-600" *ngIf="lname.errors?.['minlength']"> Last Name is too short
                </div>
            </div>
        </div>
        <div class="">
            <label for="clientPhoneNumber">Phone Number *</label>
            <input type="tel"
                class="bg-light-900 border border-dark-300 text-dark-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                id="clientPhoneNumber" placeholder="Whatsapp Phone No." [value]="clientQuotePhoneNumber$ | async"
                (change)="onInputEvent($event,'phone')" [ngModel]="clientQuotePhoneNumber$ | async" #phoneNo="ngModel"
                required minlength="8" maxlength="25" [pattern]="PHONE_REGEX">
            <div [class.hidden]="!(phoneNo.invalid && (phoneNo.dirty || phoneNo.touched) && phoneNo.value)"
                class="flex w-full gap-1 items-center mt-1 flex-col">
                <div class="flex flex-wrap">
                    <div class="mt-2 text-sm text-danger-600" *ngIf="phoneNo.errors?.['required']"> Enter your Phone
                        Number</div>
                    <div class="mt-2 text-sm text-danger-600" *ngIf="phoneNo.errors?.['minlength']"> Phone Number is too
                        short</div>
                    <div class="mt-2 text-sm text-danger-600" *ngIf="phoneNo.errors?.['pattern']"> Phone Number is
                        invalid</div>
                </div>
            </div>
        </div>
        <div class="">
            <label for="clientQuoteCounty">City / County *</label>
            <div class="relative">
                <select (mousedown)="fetchCountiesData()" id="clientQuoteCounty"
                    class="bg-light-900 border border-dark-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                    (change)="onCountySelect($event)" [ngModel]="(selected_county$ | async)?.countyCode"
                    #countySelect="ngModel" required>
                    <option selected disabled>County</option>
                    <option [selected]="(selected_county$ | async)?.countyCode === county.countyCode"
                        [value]="county.countyCode" *ngFor="let county of ( counties$ | async | sort:'asc':'name')">
                        {{county.name}}</option>
                </select>
                <span class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    *ngIf="isLoadingCounties$ | async">
                    <img src="/assets/icons/loading-twotone-loop.svg" alt="..." width="24" height="24">
                </span>
            </div>
            <div [class.hidden]="!(!countySelect.value && (countySelect.dirty || countySelect.touched))"
                class="w-full gap-1 items-center mt-1 flex-col">
                <div class="mt-2 text-sm text-danger-600"> Please select your City / County</div>
            </div>
        </div>
        <div class="">
            <label for="clientQuoteConstituency">Constituency *</label>
            <select [disabled]="(selected_county$ | async)?.name === ''"
                class="bg-light-900 border border-dark-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                (change)="onConstituencyChange($event)" [ngModel]="(selected_constituency$ | async)?.name"
                #constituencySelect="ngModel" required>
                <option selected disabled>Constituency</option>
                <option [selected]="(selected_constituency$ | async)?.name === constituency.name"
                    [value]="constituency.name"
                    *ngFor="let constituency of (selected_county$ | async)?.constituencies | sort:'asc':'name'">
                    {{constituency.name}}
                </option>
            </select>
            <div [class.hidden]="!(!constituencySelect.value &&( (constituencySelect.dirty || constituencySelect.touched) || (countySelect.dirty || countySelect.touched)))"
                class="flex w-full gap-1 items-center mt-1 flex-col">
                <div class="mt-2 text-sm text-danger-600"> Please select your Constituency</div>
            </div>
        </div>
        <div class="">
            <label for="clientQuoteNeighbourhood">Neighborhood *</label>
            <select [disabled]="(selected_constituency$ | async)?.name === '' "
                class="bg-light-900 border border-dark-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                (change)="onWardChange($event)" [ngModel]="selected_ward$ | async" #wardSelect="ngModel" required>
                <option selected disabled>Neighborhood</option>
                <option [selected]="(selected_ward$ | async) === ward" [value]="ward"
                    *ngFor="let ward of (selected_constituency$ | async)?.wards | sort:'asc'">
                    {{ward}}
                </option>
            </select>
            <div [class.hidden]="!(!wardSelect.value && ((wardSelect.dirty || wardSelect.touched) || (constituencySelect.dirty || constituencySelect.touched)))"
                class="flex w-full gap-1 items-center mt-1 flex-col">

                <div class="mt-2 text-sm text-danger-600"> Please select a Neighbourhood</div>
            </div>
        </div>
        <div class="">
            <label for="clientQuoteAddress">Address</label>
            <input type="text"
                class="bg-light-900 border border-dark-300 text-dark-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                id="clientQuoteAddress" placeholder="Apartment, street name" [value]="clientQuoteAddress$ | async"
                (change)="onInputEvent($event,'address')">
        </div>
        <div class="">
            <label for="clientQuoteHseNumber">Apartment | Hse No.</label>
            <input type="text"
                class="bg-light-900 border border-dark-300 text-dark-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                id="clientQuoteHseNumber" placeholder="Apartment, House Number, suite, unit, Hse. etc."
                [value]="clientQuoteHseNumber$ | async" (change)="onInputEvent($event,'hseNumber')">
        </div>
    </div>
</div>
<div class="row">
    <div class="form-heading">Service method</div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div class="flex">
            <div class="flex items-center h-5">
                <input id="servicyTypeHome" [checked]="(clientQuoteServiceType$ | async) === 'home'" value="home"
                    name="flexRadioDefault" (change)="onInputEvent($event,'servicyType')"
                    aria-describedby="servicyTypeHome-text" type="radio"
                    class="w-4 h-4 text-primary-900 bg-dark-100 border-dark-300 focus:ring-primary-900 focus:ring-2 dark:bg-dark-600">
            </div>
            <div class="ms-2 text-sm">
                <label for="servicyTypeHome" class="font-medium text-gray-900 dark:text-gray-300">Home
                    Service</label>
                <p id="servicyTypeHome-text" class="text-xs font-normal text-gray-500 dark:text-gray-300">We will
                    perform our services within your premises</p>
            </div>
        </div>
        <div class="flex">
            <div class="flex items-center h-5">
                <input id="servicyTypeOnline" [checked]="(clientQuoteServiceType$ | async) === 'online'" value="online"
                    (change)="onInputEvent($event,'servicyType')" aria-describedby="servicyTypeOnline-text" type="radio"
                    class="w-4 h-4 text-primary-900 bg-dark-100 border-dark-300 focus:ring-primary-900 focus:ring-2 dark:bg-dark-600">
            </div>
            <div class="ms-2 text-sm">
                <label for="servicyTypeOnline" class="font-medium text-gray-900 dark:text-gray-300">Online
                    Service</label>
                <p id="servicyTypeOnline" class="text-xs font-normal text-gray-500 dark:text-gray-300">We will
                    perform our services Online via video</p>
            </div>
        </div>
    </div>
</div>