.form-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.client-details-form {
  label,
  .error {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--black-100);
  }

  input,
  select {
    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #828d9e;
    }
    &:focus {
      border-color: var(--purple-100);
      outline: 0;
      box-shadow: 0 0 0 0.25rem var(--purple-30);
    }
  }
}

.service-type {
  .form-check-input:checked[type='radio'] {
    --bs-form-check-bg-image: url('/assets/icons/ellipse-off.svg');
    &:checked {
      --bs-form-check-bg-image: url('/assets/icons/ellipse-on.svg');
      border: 1px solid var(--purple-100);
    }
    &:focus {
      border-color: var(--purple-100);
      outline: 0;
      box-shadow: 0 0 0 0.25rem var(--purple-30);
    }
  }
}
