section {
  max-width: 1200px;
}
.cff-v2-faq-section-title {
  max-width: 692px;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: rgba(var(--dark-rgb), 0.8);
  text-align: center;
  margin-inline: auto;
  @media (max-width: 992.98px) {
    font-size: 36px;
    line-height: normal;
  }
}
.accordion {
  row-gap: 16px;

  .accordion-item {
    background: rgba(var(--purple-rgb), 0.07);
    border: none !important;
    border-radius: 16px;
    padding: 20px 10px;
  }
  .accordion-button {
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 16px;
    color: rgba(var(--dark-rgb), 0.8);
    --bs-accordion-btn-icon: url(/assets/icons/expand_down.svg);
    --bs-accordion-btn-active-icon: url(/assets/icons/expand_down.svg);
    &.collapsed::after {
      transform: rotate(0deg);
    }
    &:not(.collapsed) {
      box-shadow: none;
      &::after {
        transform: rotate(180deg);
      }
    }
    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }
  .accordion-collapse.collapse.show {
    .accordion-body {
      color: rgba(var(--dark-rgb), 0.75);
    }
  }
}
