.accordion-item {
  background: transparent;
  border: none !important;
  border-radius: 8px;
  padding: 10px;
  .accordion-button {
    background: rgba(var(--purple-rgb), 0.07);
    color: var(--dark);
    border-radius: 8px;

    &::after {
      margin-left: 0 !important;
    }
    &.isActive {
      color: var(--purple);
      --bs-accordion-btn-active-icon: url('/assets/icons/check-circle-completed.svg');
      --bs-accordion-btn-icon: url('/assets/icons/check-circle-completed.svg');
    }
    .steps {
      margin-right: auto;
      font-size: 16px;
      line-height: 24px;
      .step-text-number {
        font-weight: 600;
      }
      .step-text {
        font-weight: 400;
      }
    }
    --bs-accordion-btn-icon-width: 24px;
    --bs-accordion-btn-icon: url('/assets/icons/check_circle_incomplete.svg');
    --bs-accordion-btn-active-icon: url('/assets/icons/check_circle_incomplete.svg');
    &.collapsed {
      border-radius: 8px;
    }
    &:not(.collapsed) {
      box-shadow: none;
      &::after {
        transform: rotate(0deg);
      }
    }
    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }
  .accordion-collapse.collapse.show {
    .accordion-body {
      color: rgba(var(--dark-rgb), 0.75);
      padding: 24px 0px;
    }
  }
}
.select-header {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: var(--dark);
}
.cff-materials {
  .form-select {
    padding: 8px 16px;
    gap: 10px;
    width: 45%;
    height: 37px;
    border: 1px solid rgba(26, 111, 238, 0.1);
    border-radius: 16px;
    &:focus {
      border-color: var(--purple);
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(var(--purple-rgb), 0.25);
    }

    option {
      width: 139px;
      height: 21px;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: rgba(14, 28, 54, 0.6);
      filter: drop-shadow(0px 10px 50px rgba(34, 47, 62, 0.1));
      border-radius: 8px;
    }
  }
}
.pros,
.cons {
  display: flex;
  gap: 8px;
  align-items: baseline;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--dark);
}

.material-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
}
