@supports (animation-name: adjust-position) {
  .columns {
    overflow-y: hidden;
  }
  .column.flex-column {
    transform: translate3d(0, 0, 0);
    animation: move 80s linear normal infinite;
    backface-visibility: hidden;
  }

  .column.flex-column-reverse {
    transform: translate3d(0, 0, 0);
    animation: move 80s linear reverse infinite;
    backface-visibility: hidden;
  }

  @keyframes move {
    100% {
      transform: translateY(-50%);
    }
  }
}

.feature-container {
  border-radius: 0.5rem;
  background: linear-gradient(
    227.26deg,
    rgba(246, 220, 255, 0.8) 0%,
    rgba(189, 116, 246, 0.8) 70.47%,
    rgba(122, 35, 211, 0.8) 100.38%
  );
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  position: relative;
  padding: 10px;
  @media (max-width: 575.98px) {
    gap: 0.5rem;
    // padding: 0.5rem;
  }
}
.column {
  overflow-x: hidden;
}
.card {
  padding: 10px;
  border-radius: 24px;
}
.card-body {
  border-radius: 14px;
  padding: 25px 25px;
  // @media (max-width: 575.98px) {
  //   padding: 0.5rem !important;
  // }
}
.card-body,
.card-img-bottom {
  background: var(--fade-purple);
}
.card-img-bottom {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: center;
  /* Picture shadow */
  filter: drop-shadow(4px 4px 30px rgba(14, 28, 54, 0.15));
  border-radius: 10px;
  width: 200px;
  height: 150px;
}
.card-text-title {
  color: rgba(var(--purple-rgb), 0.8) !important;
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  margin-bottom: 16px;
  @media (max-width: 575.98px) {
    font-size: 0.4rem !important;
    line-height: 0.65rem;
  }
}
.card-text-emphasis {
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 160%;
  color: rgba(var(--purple-rgb), 0.8) !important;
}

.card-text-description {
  font-weight: 400;
  font-size: 9px;
  line-height: 160%;
  color: rgba(14, 28, 54, 0.75);
  opacity: 0.75;
  margin-bottom: 16px;
}
