/* You can add global styles to this file, and also import other style files */
@import 'node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr';

@font-face {
  font-family: 'Didot';
  src: url(assets/fonts/Didot-HTF-M24-Medium.woff2);
}
@font-face {
  font-family: 'Didot Italic';
  src: url(assets/fonts/Didot-Italic.ttf);
}
:root {
  /**Colors
  */
  --green: #00b428;
  --purple: #7a23d3;
  --purple-rgb: 122, 35, 211;
  --fade-purple: #f2e4ff;
  --light-red: #f6f6f6;
  --grey: #f2f5f7;
  --grey-dark: #88939b;
  --light: #ffffff;
  --light-rgb: 255, 255, 255;
  --dark: #0e1c36;
  --dark-rgb: 14, 28, 54;
  --black: #1c1b1f;
  --luminous-green: #7bf5c7;
  --luminous-green-rgb: 123, 245, 199;
  --red: #eb0f26;
  --red-rgb: 235, 15, 38;

  /*Fonts*/
  --didot: 'Didot', 'Open Sans', 'Helvetica Neue', sans-serif;
  --didot-italic: 'Didot Italic', 'Open Sans', 'Helvetica Neue', sans-serif;
  --background-gradient: linear-gradient(
    227.26deg,
    rgba(246, 220, 255, 0.8) 0%,
    rgba(189, 116, 246, 0.8) 70.47%,
    rgba(122, 35, 211, 0.8) 100.38%
  );
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--didot);
}
a {
  text-decoration: none;
}
.img-fluid {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: top center;
}
.link-btn {
  display: flex;
  outline: 0;
  border: 0;
  cursor: pointer;
  a,
  span {
    color: var(--purple);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
  }
}
.primary-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--purple) !important;
  cursor: pointer;
  color: var(--light);

  a {
    color: var(--light);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &:hover {
    color: var(--light);
    background-color: var(--dark) !important;
  }
  @media (max-width: 575.98px) {
    margin-bottom: 12px;
  }
}
.secondary-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  gap: 8px;
  border-radius: 8px;
  border-color: var(--purple) !important;

  a {
    color: var(--purple);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &:hover {
    border-color: var(--dark) !important;
    a {
      color: var(--dark) !important;
    }
  }
  @media (max-width: 575.98px) {
    margin-bottom: 12px;
  }
}
.title-gradient {
  background: linear-gradient(90.52deg, #7a23d3 25.3%, #7bf5c7 66.74%);
  text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle-check-green {
  width: 18px !important;
  height: 18px !important;
  background-color: var(--green);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 10px;
  }
}

main {
  @media (max-width: 575px) {
    margin-top: 20%;
  }
  margin-top: 100px;
}
