/* You can add global styles to this file, and also import other style files */
@import 'node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'bootstrap/scss/bootstrap';
@import 'ngx-toastr/toastr';

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('assets/fonts/poppins/poppins-regular-webfont.woff2') format('woff2');
  font-display: swap;
}
:root {
  /**Colors
  */
  --purple-100: rgb(122, 35, 211);
  --purple-100-rgb: 122, 35, 211;
  --purple-60: rgba(var(--purple-100-rgb), 0.6);
  --purple-30: rgba(var(--purple-100-rgb), 0.3);
  --purple-10: rgba(var(--purple-100-rgb), 0.1);

  --green-100: rgb(0, 180, 40);
  --green-100-rgb: 0, 180, 40;
  --green-60: rgba(var(--green-100-rgb), 0.6);
  --green-30: rgba(var(--green-100-rgb), 0.3);
  --green-10: rgba(var(--green-100-rgb), 0.1);

  --white-100: rgb(255, 255, 255);
  --white-100-rgb: 255, 255, 255;
  --white-60: rgba(var(--white-100-rgb), 0.6);
  --white-30: rgba(var(--white-100-rgb), 0.3);
  --white-10: rgba(var(--white-100-rgb), 0.1);

  --black-100: rgb(14, 28, 54);
  --black-100-rgb: 14, 28, 54;
  --black-60: rgba(var(--black-100-rgb), 0.6);
  --black-30: rgba(var(--black-100-rgb), 0.3);
  --black-10: rgba(var(--black-100-rgb), 0.1);

  --yellow-100: rgb(241, 205, 14);
  --yellow-100-rgb: 241, 205, 14;
  --yellow-60: rgba(var(--yellow-100-rgb), 0.6);
  --yellow-30: rgba(var(--yellow-100-rgb), 0.3);
  --yellow-10: rgba(var(--yellow-100-rgb), 0.1);

  --red-100: rgb(235, 15, 38);
  --red-100-rgb: 235, 15, 38;
  --red-60: rgba(var(--red-100-rgb), 0.6);
  --red-30: rgba(var(--red-100-rgb), 0.3);
  --red-10: rgba(var(--red-100-rgb), 0.1);

  --fade-purple: #f2e4ff;
  --light-red: #f6f6f6;
  --grey: #f2f5f7;
  --grey-dark: #88939b;
  --light: #ffffff;
  --light-rgb: 255, 255, 255;
  --dark: #0e1c36;
  --dark-rgb: 14, 28, 54;
  --black: #0e1c36;
  --luminous-green: #7bf5c7;
  --luminous-green-rgb: 123, 245, 199;
  --red: #eb0f26;
  --red-rgb: 235, 15, 38;

  /*Fonts*/
  --poppins: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
  --background-gradient: linear-gradient(
    227.26deg,
    var(--purple-30) 0%,
    var(--purple-60) 70.47%,
    var(--purple-60) 100.38%
  );
}

.text-primary {
  color: var(--purple-100) !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--poppins);
}
a {
  text-decoration: none;
}
.img-fluid {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: top center;
}
.link-btn {
  display: flex;
  outline: 0;
  border: 0;
  cursor: pointer;
  a,
  span {
    color: var(--purple-100);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
  }
}
a.link-btn {
  color: var(--purple-100);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
}
.primary-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--purple-100) !important;
  cursor: pointer;
  color: var(--light);
  &:focus {
    outline: none;
    box-shadow: none;
  }
  a {
    color: var(--light);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &:hover {
    color: var(--light);
    background-color: var(--black-100) !important;
  }
  @media (max-width: 575.98px) {
    margin-bottom: 12px;
  }
}

a.primary-btn {
  @media (max-width: 575.98px) {
    font-size: 12px;
  }
}
.secondary-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  gap: 8px;
  border-radius: 8px;
  border-color: var(--purple-100) !important;

  a {
    color: var(--purple-100);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &:hover {
    border-color: var(--black-100) !important;
    a {
      color: var(--black-100) !important;
    }
  }
  @media (max-width: 575.98px) {
    margin-bottom: 12px;
  }
}

.title-gradient {
  background: linear-gradient(
    135deg,
    var(--black-100) 0%,
    var(--purple-100) 25%,
    var(--purple-100) 50%,
    var(--purple-100) 75%,
    var(--green-100) 100%
  );
  text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle-round {
  width: 18px !important;
  height: 18px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 10px;
  }
}
.circle-check-yellow {
  @extend .circle-round;
  background-color: var(--yellow-100);
}
.circle-check-yellow-30 {
  @extend .circle-check-yellow;
  background-color: var(--yellow-30);
}

.circle-check-purple {
  @extend .circle-round;
  background-color: var(--purple-100);
}
.circle-check-purple-30 {
  @extend .circle-check-purple;
  background-color: var(--purple-30);
}
.circle-check-purple-10 {
  @extend .circle-check-purple;
  background-color: var(--purple-10);
}
.circle-check-green {
  @extend .circle-round;
  background-color: var(--green-100);
}
.circle-check-green-30 {
  @extend .circle-round;
  background-color: var(--green-30);
}
.circle-check-red-30 {
  @extend .circle-round;
  background-color: var(--red-30);
}
main {
  @media (max-width: 575px) {
    margin-top: 20%;
  }
  margin-top: 100px;
}

span.mdc-tab__text-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: var(--black-100) !important;
}
span.mdc-tab-indicator {
  left: -50%;
  width: 200% !important;
}

.mat-mdc-tab-body-wrapper {
  padding: 10px;
}
.mat-mdc-tab-label-container {
  margin-top: 10px;
  background-color: rgba(var(--purple-100-rgb), 0.03);
  border-radius: 8px;
}
.mat-calendar-body-label {
  visibility: hidden;
}
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  background-color: var(--purple-30);
}
.mat-calendar-body-today:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  border-color: var(--black-10);
}

.mat-calendar-body-selected {
  border-color: var(--purple-100);
  background-color: var(--purple-100);
  color: var(--white-100);
}

.mat-calendar-body-disabled span {
  text-decoration: line-through;
}

.pulse {
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;
  transform: scale(1);
  box-shadow: 0 0 0 0 rgba(var(--purple-100-rgb), 1);
  animation: pulse-purple 2s infinite;
}
@keyframes pulse-purple {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(var(--purple-100-rgb), 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(var(--purple-100-rgb), 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(var(--purple-100-rgb), 0);
  }
}

.feedback {
  display: none;
}

.form-select:disabled {
  border-color: transparent;
  background-color: var(--purple-10);
}
