<div class="accordion-item ">
    <div class="accordion-header" id="headingMaterial">
        <button [disabled]="(space_selected$ | async)?.id === ''" (click)="loadMaterials()"
            [class.isCompleted]="materialSelected?.name !== ''" class="accordion-button" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapseMaterial" aria-expanded="true"
            aria-controls="collapseMaterial">
            <div class="row steps w-100">
                <div class="col-auto step-text-number">Step 3:</div>
                <div class="col step-text">Select Material (optional)</div>
            </div>
        </button>
    </div>
    <div id="collapseMaterial" class="accordion-collapse collapse" aria-labelledby="headingMaterial"
        data-bs-parent="#accordionQuote">
        <div class="accordion-body">
            <div class="cff-materials">
                <div class="d-flex align-items-start justify-content-between" style="column-gap: 24px;">
                    <div class="flex-grow-1 d-flex flex-column" style="column-gap: 24px;">
                        <div class="d-flex align-items-center" style="column-gap: 24px;">
                            <div class=" select-header">Material</div>
                            <select class="form-select" (change)="fnSelectMaterial($event)">
                                <option [selected]="(_material_selected$ | async)?.id === material.id"
                                    *ngFor=" let material of materialsArr;" [value]="material.id">
                                    {{material.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="">
                        <a (click)="setDefaultMaterial()" style="color: var(--purple-100);">Skip</a>
                    </div>
                </div>
                <material-tabs [tabsName]="allTabs"></material-tabs>
                <ng-template #Pros>
                    <div class="material-container">
                        <div class="pros list-item" *ngFor="let pro of (_material_selected$ | async)?.pros">
                            <div class="circle-check-purple-30">
                                <img loading="lazy" src="assets/icons/check-purple.svg" alt="house organizing products">
                            </div>
                            <div>{{pro}}</div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #Cons>
                    <div class="material-container">
                        <div class="cons list-item " *ngFor="let con of (_material_selected$ | async)?.cons">
                            <div class="circle-check-red-30"> <img loading="lazy" alt="clutter free finds services"
                                    src="/assets/icons/red-close.svg" alt="house organizing products">
                            </div>
                            <div>{{con}}</div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>