<div class="accordion-item ">
    <div class="accordion-header" id="headingOne">
        <button class="d-flex" (click)="loadServices()" [class.isActive]="selectedCffService.id !== ''"
            class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <div class="row  steps w-100">
                <div class="col-auto step-text-number">Step 1:</div>
                <div class="col step-text">Select Service</div>
            </div>
        </button>
    </div>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionQuote">
        <div class="accordion-body">
            <ng-container *ngTemplateOutlet="returnListTemplate()"></ng-container>
            <ng-template #loadingRef>
                <div class="d-flex flex-wrap gap-2">
                    <div *ngFor="let i of [1,2,3,4]" class="loading">
                        <div class="loading-image"></div>
                        <div class="loading-content flex-grow-1"></div>
                        <div class="loading-icon"></div>
                    </div>
                </div>
            </ng-template>
            <ng-template #loadedRef>
                <div class="cff-services">
                    <div class="d-flex" *ngFor="let service of cffServices; index as i;">
                        <input type="radio" name="service" [id]="'radio-service-btn-'+i" [value]="service"
                            [(ngModel)]="selectedCffService" [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="onSelectedService($event)" />
                        <label [for]="'radio-service-btn-'+i" class="cff-service">
                            <img loading="lazy" [src]="'/assets/icons/cff-services/' +service.label+'.svg'"
                                [alt]="service.name">
                            {{service.name}}
                            <button (touchend)="showCffServiceDescriptionTooltip(service,$event)"
                                (mouseenter)="showCffServiceDescriptionTooltip(service,$event)"
                                (mouseleave)="resetTooltip()"
                                class="d-inline-flex align-items-center position-relative p-2 bg-transparent border-0"
                                #tooltipRef="matTooltip" [matTooltip]="(cffServiceTooltip$ | async)"
                                matTooltipPosition="above">
                                <img loading="lazy" src="/assets/icons/info.svg" alt="" width="18">
                            </button>
                        </label>
                    </div>

                </div>
            </ng-template>
        </div>
    </div>
</div>