.accordion-item {
  background: transparent;
  border: none !important;
  border-radius: 8px;
  padding: 10px;
  .accordion-button {
    background: rgba(var(--purple-rgb), 0.07);
    color: var(--dark);
    border-radius: 8px;

    &::after {
      margin-left: 0 !important;
    }
    &.isActive {
      color: var(--purple);
      --bs-accordion-btn-active-icon: url('/assets/icons/check-circle-completed.svg');
      --bs-accordion-btn-icon: url('/assets/icons/check-circle-completed.svg');
    }
    .steps {
      margin-right: auto;
      font-size: 16px;
      line-height: 24px;
      .step-text-number {
        font-weight: 600;
      }
      .step-text {
        font-weight: 400;
      }
    }
    --bs-accordion-btn-icon-width: 24px;
    --bs-accordion-btn-icon: url('/assets/icons/check_circle_incomplete.svg');
    --bs-accordion-btn-active-icon: url('/assets/icons/check_circle_incomplete.svg');
    &.collapsed {
      border-radius: 8px;
    }
    &:not(.collapsed) {
      box-shadow: none;
      &::after {
        transform: rotate(0deg);
      }
    }
    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }
  .accordion-collapse.collapse.show {
    .accordion-body {
      color: rgba(var(--dark-rgb), 0.75);
      padding: 24px 0px;
    }
  }
}

.cff-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  padding: 0px;
  gap: 12px;

  input[type='radio'] + label.cff-service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 12px;
    width: auto;
    height: 44px;
    border-radius: 24px;
    background: #f6f6f6;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
  }

  input[type='radio'] {
    display: none;
  }

  input[type='radio']:checked + label.cff-service {
    background: rgba(var(--purple-rgb), 0.1);
    svg path {
      fill: #7a23d3;
    }
  }
}
