<section>
    <div class="row about-who-is-section">
        <div>
            <img src="/assets/images/shapes.svg" alt="" class="img-fluid d-none d-lg-block" width="200"
                style="margin-bottom: 24px;" />
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-start" style="column-gap: 20px;">
            <div class="about-who-is-section-divider col-1"></div>
            <div>
                <div class="about-who-is-section-title">{{'ABOUT_US_PAGE.WHO_IS_SECTION.TITLE'| translate}}</div>
                <div class="about-who-is-section-description">{{'ABOUT_US_PAGE.WHO_IS_SECTION.DESCRIPTION_1'|
                    translate}}

                </div>
                <div class="about-who-is-section-description" style="margin-bottom: 24px;">
                    {{'ABOUT_US_PAGE.WHO_IS_SECTION.DESCRIPTION_2'|
                    translate}}
                </div>
                <button class="btn primary-btn" type="button">
                    <a target="_blank" href="">{{
                        'ABOUT_US_PAGE.WHO_IS_SECTION.BUTTON' | translate
                        }}</a>
                </button>
            </div>
        </div>
        <div class="col-12 col-lg-6">slider here</div>
    </div>
</section>