.about-our-vision {
  &-title-hollow {
    background: -webkit-linear-gradient(180deg, #7a23d3 0%, #c13dff 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: var(--light);
    text-align: center;
    font-weight: 700;
    font-size: 150px;
    line-height: 225px;
    text-align: center;
    opacity: 0.2;

    @media (max-width: 768px) {
      font-size: 75px;
    }
  }
  &-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 56px;
    color: var(--purple);
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
  &-support-text {
    max-width: 758.24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: rgba(var(--dark-rgb), 0.8);
  }
  &-content-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    @media (max-width: 768px) {
      font-size: 24px;
    }
    &-content-description {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: rgba(var(--dark-rgb), 0.8);
    }
  }
  &-divider {
    width: 5px;
    height: 240px;
    background: var(--purple);
  }
}
.title-content {
  top: 45%;
  @media (max-width: 768px) {
    top: 35%;
  }
}
