<div class="relative flex justify-center mb-4 lg:mb-12">
    <div class="text-hollow bg-gradient-to-r from-primary-900 to-prmary-600 ">Our Vision</div>
    <div class="absolute top-1/2 flex flex-col items-center">
        <div class="text-primary-900  text-center font-medium text-2xl lg:text-5xl">Our Vision</div>
        <img loading="lazy" src="assets/images/vision.png" alt="our organizing vision">
        <div class="font-medium text-dark-900 text-sm md:text-lg">“Create organized and functional spaces that
            simplify
            life"
        </div>
    </div>
</div>
<div class="flex items-center ">
    <div class="w-full lg:w-7/12 flex items-start gap-x-4">
        <div class="bg-primary-900 w-1.5 h-44 md:h-60"></div>
        <div>
            <div class="text-dark-900 font-semibold text-sm md:text-lg mb-4 lg:mb-6">Our Vision</div>
            <div class="font-medium text-dark-900 text-sm md:text-lg">To be the leading professional organizers,
                empowering
                individuals and families to create calm, functional spaces that ignite productivity and and simplify
                their daily lives.</div>
        </div>
    </div>
    <div class="hidden md:block w-full lg:w-5/12 ">
        <img loading="lazy" src="/assets/images/our-vision.png" class="w-80 ml-auto" alt="home organizing vision">
    </div>
</div>