<section style="margin-bottom: 40px;">
    <div class="row position-relative justify-content-center" style="margin-bottom: 40px;">
        <div class="about-our-vision-title-hollow ">Our Vision</div>
        <div class="position-absolute title-content d-flex flex-column align-items-center" style="column-gap: 24px;">
            <div class=" about-our-vision-title">Our Vision</div>
            <img loading="lazy" src="assets/images/vision.png" alt="" class="img-fluid" width="721">
            <div class="about-our-vision-title-support-text text-center">“ Create organized and functional spaces that
                simplify
                life"
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 col-lg-7 d-flex align-items-start" style="column-gap: 20px;">
            <div class="col-1 about-our-vision-divider d-flex justify-content-end">
            </div>
            <div>
                <div class="about-our-vision-content-title">Our Vision</div>
                <div class="about-our-vision-content-description">To be the leading professional organizers, empowering
                    individuals and families to create calm, functional spaces that ignite productivity and and simplify
                    their daily lives.</div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="d-none d-md-block col-lg-4 ">
            <img loading="lazy" src="/assets/images/our-vision.png" alt="" width="250">
        </div>
    </div>
</section>