<section style="margin-top: 64px">
  <div>
    <div class="cff-v2-what-we-do-title">
      <span class="d-inline-flex me-1">{{
        'HOME_PAGE.WHAT_WE_DO.TITLE' | translate
        }}</span><span class="title-gradient">{{
        'HOME_PAGE.WHAT_WE_DO.GRADIENT' | translate
        }}</span>
    </div>
    <div class="cff-v2-what-we-do-description mx-auto">
      {{ 'HOME_PAGE.WHAT_WE_DO.DESCRIPTION' | translate }}
    </div>
  </div>
  <div class="d-flex mx-auto row justify-content-center" style="gap: 40px">
    <ng-container *ngFor="let servie of services">
      <a
        class="card col-12 col-lg-4 cff-v2-what-we-do-card border-0 d-flex flex-column align-items-center justify-content-between">
        <img loading="lazy" alt="clutter free finds services" class="img-fluid" [src]="servie.image" />
        <span class="cff-v2-what-we-do-card-header">
          {{ servie.title | translate }}
        </span>

        <div class="cff-v2-what-we-do-card-description">
          {{ servie.description | translate }}
        </div>
        <button class="btn link-btn d-flex" type="button">
          <span> {{ 'HOME_PAGE.WHAT_WE_DO.LINK' | translate }}</span>
          <img loading="lazy" alt="learn more about clutter free finds" src="./assets/icons/arrow-right.svg" width="24"
            height="24" />
        </button>
      </a>
    </ng-container>
  </div>
</section>