.cff-v2-hero-section {
  border-radius: 8px;
  border-bottom: 1px solid var(--accent);
  border-left: 1px solid var(--accent);
  background: linear-gradient(
    104.05deg,
    rgba(166, 149, 179, 0) 0%,
    rgba(174, 131, 218, 0.3) 57.66%
  );
}
.cff-v2-hero-section-title-text {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  text-transform: uppercase;
  @media (max-width: 992.98px) {
    text-align: center;
    font-size: 36px;
  }
}

.cff-v2-hero-section-description {
  color: rgba(var(--dark), 0.9);
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 24px;
  max-width: 516px;
  @media (max-width: 992.98px) {
    text-align: center;
    font-size: 16px;
  }
}
.cff-v2-hero-section-list {
  @media (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
}

.list-item {
  color: rgba(var(--dark), 0.9);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  @media (min-width: 1280px) {
    flex: 0 0 auto;
    width: 50%;
  }
  @media (max-width: 992.98px) {
    text-align: left;
    font-size: 12px;
  }
}
.divider {
  width: 1px;
  height: 118px;
  border-right: 2px solid var(--grey);
  &:last-child {
    border: none;
  }
  @media (max-width: 992.98px) {
    width: 118px;
    height: 1px;
    border-right: 2px solid var(--grey);
  }
}
.cff-v2-hero-section-number {
  padding: 5px 24px;
}
.cff-v2-hero-section-count {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 64px;

  .cff-v2-hero-section-plus {
    color: var(--accent);
  }
  @media (max-width: 992.98px) {
    font-size: 40px;
  }
}
