<section class="mx-4 mx-lg-0" style="margin-top: 16px">
  <div class="container cff-v2-why-cff-section p-3 p-lg-5">
    <div class="row align-items-center">
      <div>
        <img
          src="/assets/images/shapes.svg"
          alt=""
          class="img-fluid"
          width="200"
        />
      </div>
      <div
        class="col d-flex flex-column align-items-center align-items-lg-start"
        style="max-width: 673px"
      >
        <div class="cff-v2-why-cff-section-title">
          <div class="cff-v2-why-cff-section-title-text">
            {{ 'HOME_PAGE.WHY_CFF.TITLE' | translate }}
            <span class="title-gradient">{{
              'HOME_PAGE.WHY_CFF.GRADIENT' | translate
            }}</span>
          </div>
        </div>
        <div class="cff-v2-why-cff-section-description">
          {{ 'HOME_PAGE.WHY_CFF.DESCRIPTION' | translate }}
        </div>
        <div class="d-flex flex-column flex-lg-row align-items-center">
          <button class="btn primary-btn" type="button">
            <a target="_blank" href="">{{
              'HOME_PAGE.WHY_CFF.BUTTON_1' | translate
            }}</a>
          </button>
          <button class="btn link-btn" type="button">
            <a href="">{{ 'HOME_PAGE.WHY_CFF.BUTTON_2' | translate }}</a>
          </button>
        </div>
      </div>
      <div class="d-none d-lg-block col align-self-center">
        <img
          src="/assets/images/why-clutter-free-finds.png"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
