<div class="bg-[url('/assets/images/bg/cubes.png')] bg-no-repeat bg-center p-3 p-md-5 bg-light-900 bg-blend-multiply">
  <div class="flex flex-col lg:flex-row">
    <div class="w-full lg:w-1/2 flex flex-col items-center lg:items-start">
      <div class="text-center font-extrabold text-dark-900 text-3xl md:text-4xl lg:text-5xl">
        {{ 'HOME_PAGE.HOW_WE_DO_IT.TITLE' | translate }}
      </div>
      <div class="mb-4 text-sm md:text-lg font-normal text-dark-600  md:w-4/5 mx-auto">
        <span *ngFor="let description of description">
          <span [class.font-extrabold]="description.bold">
            {{ description.title | translate }}</span>
        </span>
      </div>
      <ul class="max-w-md space-y-1 text-dark-900 list-inside">
        <li class="flex items-center" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
          <svg class="w-4 h-4 me-2  flex-shrink-0 fill-primary-100 stroke-primary-900" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
          </svg>
          {{ 'HOME_PAGE.HOW_WE_DO_IT.LIST.ITEM' + item | translate }}
        </li>
      </ul>
      <a [routerLink]="['/instant-quote']" type="button" data-dropdown-toggle="language-dropdown-menu"
        class="my-6 inline-flex items-center font-medium justify-center px-4 py-4 text-sm bg-primary-900 text-light-900 rounded-lg cursor-pointer hover:bg-dark-900">
        {{
        'HOME_PAGE.HOW_WE_DO_IT.BUTTON' | translate
        }}
      </a>
    </div>
    <div #youtubeVideoRef class="w-full lg:w-1/2 self-center flex justify-center">
      <iframe *ngIf="isVideoVisible" loading="lazy" width="560" height="315" class="w-3/4 aspect-video rounded-lg"
        [src]="ytIframe | iframeUrl" title=" YouTube video player" frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>
</div>