.cff-v2-how-we-do-it-section {
  background: no-repeat 60%/40% url(/assets/images/bg/cubes.png);
}
.cff-v2-how-we-do-it-section-title-text {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 24px;
  font-weight: 600;
  line-height: 130%;
  @media (max-width: 992.98px) {
    text-align: center;
    font-size: 36px;
  }
}

.cff-v2-how-we-do-it-section-description {
  font-weight: 400;
  opacity: 0.75;
  color: var(--black-10);
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 24px;
  max-width: 506px;

  .bold {
    font-weight: 700;
  }

  @media (max-width: 992.98px) {
    text-align: center;
    font-size: 16px;
  }
}

.list-item {
  font-size: 18px;
  line-height: 27px;
  opacity: 0.75;
  color: var(--black-10);
  font-weight: 400;
  @media (max-width: 992.98px) {
    font-size: 12px;
  }
}

.iframe {
  border-radius: 8px;
  width: 522px;
  height: 310px;
  flex-shrink: 0;

  @media (max-width: 992px) {
    width: 342.343px;
    height: 203.307px;
  }
}
.ytp-large-play-button {
  visibility: hidden !important;
}
