<section class="bg-light-900 py-2 lg:py-16 antialiased">
    <div class="lg:mx-auto lg:max-w-screen-xl  lg:px-4">
        <h2 class="text-sm font-semibold text-dark-900 sm:text-2xl">Quote Summary</h2>
        <div class="mt-2 sm:mt-8 lg:flex lg:gap-8">
            <div
                class="w-full divide-y divide-dark-300 overflow-hidden rounded-lg border border-dark-300 lg:max-w-xl xl:max-w-2xl">
                <div class="space-y-4 p-1.5 lg:p-6">
                    <div class="mx-auto max-w-2xl px-4 2xl:px-0">
                        <div
                            class="space-y-4 sm:space-y-2 rounded-lg border border-gray-100 bg-dark-100 p-6 mb-6 md:mb-8">
                            <dl class="sm:flex items-center justify-between gap-4">
                                <dt
                                    class="font-normal mb-1 sm:mb-0 text-dark-600 text-xs lg:text-basetext-xs lg:text-base">
                                    Date</dt>
                                <dd class="font-medium text-dark-900  sm:text-end text-xs lg:text-base">{{(service_date$
                                    |
                                    async) | date:'medium' }}
                                </dd>
                            </dl>
                            <dl class="sm:flex items-center justify-between gap-4">
                                <dt class="font-normal mb-1 sm:mb-0 text-dark-600 text-xs lg:text-base">Email
                                </dt>
                                <dd class="font-medium text-dark-900  sm:text-end">{{(client_details$ |
                                    async)?.email}}</dd>
                            </dl>
                            <dl class="sm:flex items-center justify-between gap-4">
                                <dt class="font-normal mb-1 sm:mb-0 text-dark-600 text-xs lg:text-base">Name</dt>
                                <dd class="font-medium text-dark-900  sm:text-end">{{(client_details$ |
                                    async)?.fname}} {{(client_details$ | async)?.lname}}
                                </dd>
                            </dl>
                            <dl class="sm:flex items-center justify-between gap-4">
                                <dt class="font-normal mb-1 sm:mb-0 text-dark-600 text-xs lg:text-base">Address</dt>
                                <dd class="font-medium text-dark-900  sm:text-end">{{(client_details$ |
                                    async)?.hseNumber}} {{(client_details$ |
                                    async)?.address}} {{(county_details$ | async)?.selected_county?.name}},
                                    {{(county_details$ | async)?.selected_constituency?.name}},
                                    {{(county_details$ | async)?.selected_ward}}</dd>
                            </dl>
                            <dl class="sm:flex items-center justify-between gap-4">
                                <dt class="font-normal mb-1 sm:mb-0 text-dark-600 text-xs lg:text-base">Phone</dt>
                                <dd class="font-medium text-dark-900  sm:text-end">{{(client_details$ |
                                    async)?.phone}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="flex items-center gap-6">
                        <div class="w-10 h-10 lg:h-14 lg:w-14 shrink-0">
                            <img class="h-full w-full"
                                [src]="'/assets/icons/cff-services/' +(service_selected$ | async)?.label+'.svg'"
                                alt="service image" />
                        </div>
                        <p class="min-w-0 flex-1 font-medium text-dark-900 hover:underline">
                            {{(service_selected$ | async)?.description}}
                        </p>
                    </div>

                    <div class="flex items-center justify-between gap-4">
                        <p class="text-xs lg:text-sm text-dark-600 "><span class="font-medium text-dark-900 ">Service
                                ID:</span>
                            {{(service_selected$ | async)?.id}}</p>

                        <div class="flex items-center justify-end gap-4">
                            <p class="text-base font-normal text-dark-900 ">x1</p>
                            <p class="text-xl font-bold leading-tight text-dark-900 ">
                                {{(service_selected$ | async)?.price}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="space-y-4 p-6">
                    <div class="flex items-center gap-6">
                        <div class="w-10 h-10 lg:h-14 lg:w-14 shrink-0">
                            <img class="h-full w-full" src="assets/icons/cff-services/door-open.svg"
                                alt="space organizing image" />
                        </div>
                        <div class="min-w-0 flex-1 font-medium text-dark-900 hover:underline ">
                            {{(space_selected$ | async)?.name}}</div>
                    </div>

                    <div class="flex items-center justify-between gap-4">
                        <p class="text-xs lg:text-sm text-dark-600 "><span class="font-medium text-dark-900 ">Space
                                ID:</span> {{(space_selected$ |
                            async)?.id}}</p>

                        <div>
                            <div class="flex items-center justify-end gap-4">
                                <p class="text-base font-normal text-dark-900 ">x{{(space_selected$ |
                                    async)?.minHours}} Min Hrs</p>
                                <p class="text-xl font-bold leading-tight text-dark-900 ">
                                    {{(service_selected$ | async)?.price}}</p>
                            </div>
                            <div class="flex items-center justify-end gap-4">
                                <p class="text-base font-normal text-dark-900 ">x{{(space_selected$ |
                                    async)?.maxHours}} Max Hrs</p>
                                <p class="text-xl font-bold leading-tight text-dark-900 ">
                                    {{(service_selected$ | async)?.price}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="space-y-4 p-6">
                    <div class="flex items-center gap-6">
                        <div class="w-10 h-10 lg:h-14 lg:w-14 shrink-0">
                            <img class="h-full w-full" src="assets/icons/cff-services/box-bold.svg"
                                alt="material organizing image" />
                        </div>
                        <div class="min-w-0 flex-1 font-medium text-dark-900 hover:underline ">
                            {{(material_selected$ | async)?.name}}</div>
                    </div>

                    <div class="flex items-center justify-between gap-4">
                        <p class="text-xs lg:text-sm text-dark-600 "><span class="font-medium text-dark-900 ">Material
                                ID:</span>
                            {{(material_selected$ |
                            async)?.id}}</p>

                        <div class="flex items-center justify-end gap-4">
                            <p class="text-base font-normal text-dark-900 ">x1</p>
                            <p class="text-xl font-bold leading-tight text-dark-900 ">
                                {{(material_selected$ | async)?.percentagePrice}}%</p>
                        </div>
                    </div>
                </div>

                <div class="space-y-4 bg-dark-100 p-6 ">
                    <div class="space-y-2">
                        <dl class="flex items-center justify-between gap-4">
                            <dt class="font-normal text-dark-600 ">Min Service Price</dt>
                            <dd class="font-medium text-dark-900 ">{{(instant_quote$ | async).min_price |
                                currency:'KES'}}
                            </dd>
                        </dl>

                        <dl class="flex items-center justify-between gap-4">
                            <dt class="font-normal text-dark-600 ">Max Service Price</dt>
                            <dd class="font-medium text-dark-900 ">{{(instant_quote$
                                |
                                async).max_price | currency:'KES'}}</dd>
                        </dl>

                        <dl class="flex items-center justify-between gap-4">
                            <dt class="font-normal text-dark-600 ">Savings</dt>
                            <dd class="text-base font-medium text-green-500">-00.00</dd>
                        </dl>
                    </div>

                    <dl class="flex items-center justify-between gap-4 border-t border-dark-300 pt-2 ">
                        <dt class="text-lg font-bold text-dark-900 ">Total</dt>
                        <dd class="text-lg font-bold text-dark-900 ">{{(instant_quote$
                            |
                            async).max_price | currency:'KES'}}</dd>
                    </dl>
                </div>
            </div>

            <div class="mt-6 grow sm:mt-8 lg:mt-0">
                <div class="space-y-6 rounded-lg border border-dark-300 bg-white p-6 shadow-sm  ">
                    <h3 class="text-xl font-semibold text-dark-900 ">Service history</h3>

                    <ol class="relative ms-3 border-s border-dark-300 ">
                        <li class="mb-10 ms-6">
                            <span
                                class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-gray-100 ring-8 ring-white  ">
                                <svg class="h-4 w-4 text-dark-600 " aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5" />
                                </svg>
                            </span>
                            <h4 class="mb-0.5 text-base font-semibold text-dark-900 ">Estimated delivery
                                on {{(service_date$ |
                                async) | date:'mediumDate' }}</h4>
                            <p class="text-xs lg:text-sm text-dark-600 ">{{ (client_details$ |
                                async).seviceType}}</p>
                        </li>

                        <li class="mb-10 ms-6">
                            <span
                                class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-gray-100 ring-8 ring-white  ">
                                <svg class="h-4 w-4 text-dark-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M9 17h6l3 3v-3h2V9h-2M4 4h11v8H9l-3 3v-3H4V4Z" />
                                </svg>

                            </span>
                            <h4 class="mb-0.5 text-base font-semibold text-dark-900 ">Today</h4>
                            <p class="text-xs lg:text-sm text-dark-600 ">Everything is in place,
                                onboard on the journey from <b> mess</b> to <b> yess!</b></p>
                        </li>
                    </ol>

                    <div class="gap-4 sm:flex sm:items-center">
                        <button type="button" (click)="onValidateQuote()"
                            class="w-full rounded-lg  border border-dark-300 bg-white px-5  py-2.5 text-sm font-medium text-dark-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100">Validate
                            Quote</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-sm lg:text-xl font-semibold mt-4">We support Visa, MasterCard, PayPal, M-Pesa Transfer and many
        </div>
        <div class="mt-2 lg:mt-6 flex items-center flex-wrap justify-start gap-1.5 lg:gap-8">
            <div> <img loading="lazy" src="assets/icons/money/visa.svg" alt="visa logo"
                    class="w-24 lg:h-full lg:w-full"></div>
            <div> <img loading=" lazy" src="assets/icons/money/paypal.svg" alt="paypal-logo"
                    class="w-24 lg:h-full lg:w-full"></div>
            <div> <img loading="lazy" src="assets/icons/money/mastercard.svg" alt="mastercard-logo"
                    class="w-24 lg:h-full lg:w-full"></div>
            <div> <img loading="lazy" src="assets/icons/money/mpesa.svg" alt="mpesa logo"
                    class="w-24 lg:h-full lg:w-full"></div>
        </div>
    </div>
</section>
<ng-container *ngTemplateOutlet="returnModalTemplate()"></ng-container>
<ng-template #loadingRef>
    <div
        class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full h-full">
        <div class="flex items-center justify-center w-full h-full bg-dark-100">
            <div role="status">
                <svg aria-hidden="true" class="w-8 h-8 text-dark-300 animate-spin  fill-primary-900"
                    viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                        fill="currentColor" />
                    <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentFill" />
                </svg>
                <span class="sr-only">Loading...</span>
            </div>
        </div>

    </div>
</ng-template>
<ng-template #responseErrorRef>
    <div
        class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full h-full">
        <div class="flex items-center justify-center w-full h-full bg-dark-100">
            <div class="relative bg-white rounded-lg shadow">
                <div class="p-4 md:p-5 text-center">
                    <img loading="lazy" class="mx-auto mb-4 w-48 h-48" src="/assets/images/quote/quote-error.svg"
                        alt="">
                    <h3 class="mb-5 text-lg font-normal text-dark-600 max-w-96">
                        There was a problem validating your quote, please try again. <span class="text-primary-900">If
                            you
                            need help contact us via email or phone.</span>
                    </h3>
                    <button (click)="modalView = -1" type="button"
                        class="text-white bg-danger-900 hover:bg-dark-900  font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                        Try again
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #responseSuccessRef>
    <div
        class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full h-full">
        <div class="flex items-center justify-center w-full h-full bg-dark-100">
            <div class="relative bg-white rounded-lg shadow">
                <div class="p-4 md:p-5 text-center">
                    <img loading="lazy" class="mx-auto mb-4 w-48 h-48" src="/assets/images/quote/quote-success.svg"
                        alt="">
                    <h3 class="mb-5 text-lg font-normal text-dark-600 max-w-96">
                        We will reach out to you with a quote, <span class="text-primary-900"> if you need help contact
                            us
                            via email or phone.</span>
                    </h3>
                    <button (click)="reload()" type="button"
                        class="text-white bg-primary-900 hover:bg-dark-900  font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                        Understood
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>