.how-it-works {
  &-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 100px;
    @media (max-width: 575px) {
      font-size: 40px;
      margin-bottom: 64px;
    }
  }
  &-rectangle {
    width: 7px;
    background: #7a23d3;
  }
  &-step-title {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 24px;
    @media (max-width: 575px) {
      font-size: 20px;
    }
  }
  &-step-number {
    position: absolute;
    left: -260%;
    width: 46px;
    height: 46px;
    background: #7a23d3;
    border-radius: 50%;
    @media (max-width: 575px) {
      width: 35px;
      height: 35px;
      left: -200%;
      margin-top: -3px;
    }

    .text {
      font-weight: 500;
      font-size: 24px;
      line-height: 16px;
      color: var(--light);
      @media (max-width: 575px) {
        font-size: 18px;
      }
    }
  }
  &-steps {
    column-gap: 8px;
  }
  &-step {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(var(--dark), 0.9);
    opacity: 0.8;
    width: 302px;
    @media (max-width: 575px) {
      font-size: 12px;
      width: auto;
    }
  }
}

.row:last-child {
  .how-it-works-rectangle {
    background-color: transparent;
  }
}
